<form class="box" id={{elementId}}>
        <div class="box-header">
            <span class="box-title secondary-text">{{formTitle}}</span>
        </div>
        <label for="username" class="block">Username</label>
        <input type="text" name="username" id="username" class="text-input block">
        <label for="password" class="block">Password</label>
        <input type="password" name="password" id="password" class="text-input block">
        <button class="btn" id="login-btn">{{buttonText}}</button>
        <a href={{link}}><p id="login-toggle">{{linkText}}</p></a>
</form> 
